.container{
    width: 90%;
    height: 800px;
    margin: 30px auto;
}

.buttonMais{
    width: 200px;
    height: 50px;
    font-size: larger;
    background-color: #00649A;
    border: 1px solid #00649A;
    margin-left: calc(50% - 100px);
    transition: all 0.3s;
}

.buttonMais:hover{
    background-color: #000;
    border: 1px solid #000;
}

.container a{
    color: #fff;
    text-decoration: none;
}

.child{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card{
    width: 220px;
    height: 310px;
    border-radius: 8px;
    border: 1px solid rgb(130, 130, 130);
}

.demonstrativo{
    width: 100%;
    height: 50%;
    display: grid;
    align-items: center;
    border-bottom: 1px solid rgb(130, 130, 130);
}

.descricao ul{
    list-style: none;
    padding: 5px;
}

.descricao li{
    margin: 4px;
}

.descricao button{
    width: 100px;
    height: 30px;
    margin-left: 10px;
    transition: all 0.3;
    background-color: #000;
    border: 1px solid #000;
}

.descricao button:hover{
    border: 1px solid #00649A;
    background-color: #00649A;
}

.descricao a{
    padding: 8px;
    color: #fff;
    font-size: medium;
    transition: all 0.3s;
}

.descricao label{
    color: rgb(34, 180, 34);
}

.preco{
    font-size: 22px;
}

@media only screen and (max-device-width: 500px){
    .container{
        height: 4000px;
    }
    .child{
        height: 49%;
        display: grid;
    }
}