.container{
    width: 85%;
    display: flex;
    height: 500px;
    margin: 50px auto;
}

.child{
    width: 50%;
    height: 100%;
    display: grid;
}

.imagem{
    margin: auto;
}

@media only screen and (max-device-width: 500px){
    .container{
        display: grid;
    }
    .child{
        width: 100%;
    }
    .imagem{
        width: 300px;
        height: 150px;
    }
}