.container{
    margin: 30px auto;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: #00649A;
    justify-content: space-around;
}

@media only screen and (max-device-width: 500px){
    .container{
        width: 90%;
        display: grid;
        height: 600px;
    }
}