.container{
    width: 80%;
    height: 600px;
    margin: 50px auto;
}

.container h2{
    color: #00649A;
    width: 200px;
    border-bottom: 5px solid #00649A;
}

.child{
    width: 100%;
    height: 90%;
    display: flex;
}

.content{
    width: 50%;
    height: 100%;
}

.con{
    width: 50%;
    height: 95%;
    display: grid;
}

.container p{
    padding: 10px;
    padding-top: 30px;
    text-align: justify;
}

.card{
    width: 95%;
    margin: auto;
    height: 150px;
    display: grid;
    color: #fff;
    background-color: #00649A;
}

.card label{
    margin: auto;
    font-size: 80px;
}

@media only screen and (max-device-width: 500px){
    .container{
        height: 1000px;
    }
    .child{
        height: 100%;
        display: grid;
    }
    .content{
        width: 100%;
    }
    .con{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .card label{
        width: 100%;
        font-size: 40px;
    }
}